html, body {
    margin: 0;
    height: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
}

#preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

.topBar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: black;
}
#mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background: black;
}

video, canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}

#canvasInput, #canvasOutput {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button, select, label {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}