

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
}

#preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#topBar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    background: black;
}
#mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background: black;
}

video, canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#canvasInput {
  width: 100%;
  display:none;
}