body { font-family: sans-serif; text-align: center; padding: 20px; background-color: black; }
video, canvas { margin: 10px auto; display: block; }
#scanBtn { padding: 10px 20px; margin-top: 10px; font-size: 20px; color:brown;}
#reScanBtn { padding: 10px 20px; margin-top: 10px; font-size: 20px; color:white}
#htmlOcr { display: fixed}