html, body {
    margin: 0;
    height: 100%;
    display: flex;
    background: #3b3b3b;
    flex-direction: column;
}

#preview {
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #3b3b3b;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #3b3b3b;
  padding: 8px 16px;
  gap: 16px;
}

.toolbarSection {
  background-color: #3b3b3b;
  gap: 10px;
}

#mainContent {
  background-color: #3b3b3b;
  overflow: auto;
  position: relative;
}

#video, #canvasInput, #canvasOutput {
  object-fit: contain;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  width: 100%;
  height: 100%;
}

button, select, label {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}