html, body {
  margin: 0;
  height: 100vh; /* Full viewport height */
}

#preview {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.previewToolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  border-bottom: 1px solid gray; 
  background-color: azure;
}

.previewToolbarSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  border: none;
  box-shadow: none;
  border-right: 1px solid gray; 
}

.previewToolbarSection button,
.previewToolbarSection input {
  background-color: azure;
  border: none;
}

#mainContent {
  overflow: auto;
  position: relative;
  flex-grow: 1;
  background-color: lightgray;
}

#video, #canvasInput, #canvasOutput {
  object-fit: contain;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  width: 100%;
  height: 100%;
}

button, select, label {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
}